{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Clínica Estrelar{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="navbar">
  <div class="container inner">
    <a class="brand" href="{% url 'home' %}">
      <img src="{% static 'img/icone_estrelar.jpg' %}" alt="Clínica Estrelar" class="logo">
      <div class="name">
        <strong>Estrelar</strong>
        <small>Intervenção Comportamental</small>
      </div>
    </a>

    <!-- Botão mobile -->
<button class="nav-toggle" type="button"
        aria-expanded="false" aria-controls="navMenu"
        aria-label="Abrir menu">
  <img src="{% static 'img/autismo.png' %}" alt="Menu" class="puzzle-icon">
</button>


    <nav id="navMenu" class="menu" aria-label="Menu principal">
      <a href="{% url 'home' %}">Início</a>
      <a href="#o-que-fazemos">O que fazemos</a>
      <a href="#servicos">Serviços</a>
      <a href="#como-funciona">Como funciona</a>
      <a href="#contato">Contato</a>
    </nav>
  </div>
</header>

<script src="{% static 'js/navbar.js' %}"></script>

  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="container">
      <div>
        <strong>Clínica Multidisciplinar Estrelar</strong><br>
        <small>Intervenção Comportamental • Canoas/RS</small>
      </div>
      <div>
        <small>
          WhatsApp: (51) 99701-6416 • Instagram:
          <a href="https://www.instagram.com/estrelarclinica/" target="_blank" rel="noopener">@estrelarclinica</a>
        </small>
      </div>
    </div>
  </footer>

  <a class="instagram"
     href="https://www.instagram.com/estrelarclinica/"
     target="_blank" rel="noopener">
    Instagram
  </a>

  <a class="whats"
     href="https://wa.me/5551997016416?text=Ol%C3%A1!%20Quero%20informa%C3%A7%C3%B5es%20sobre%20a%20Cl%C3%ADnica%20Estrelar."
     target="_blank" rel="noopener">
    WhatsApp
  </a>

</body>
</html>
